@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Slab&display=swap');

/* --------- Headings */
h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

p{
    font-family: 'Open Sans', Verdana, sans-serif;
}

/* --------- Design Elements */
.block-divider-blue {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #419092;
    margin: auto;
    margin-bottom: 15px;
}

/* --------- Footer */
footer{
    margin: 0;
    padding: 10px;
    height: 120px;
    background-color: #e9b02f;
    color: black;
}

.footer-nav-item{
    padding: 0;
    font-family: 'Open Sans', Verdana, sans-serif;
}

.footer-nav-item a{
    color: #000;
    text-decoration: none;
}

.footer-nav-item a:hover{
    background-color: #fff;
    text-decoration: none;
}

#footer-logo{
    height: 100px;
    width: 100px;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
}

.social-links{
    margin-bottom: 0px;
}

.social-links-item a{
    color: black;
}
.social-links-item a:hover{
    color:#fafafa;
}

.footer-sub{
    margin-bottom: 0px;
}

/* --------- Choose Me */
#circle-container {
    width: 250px;
    height: 250px;
    padding: 10px;
    border-style: solid;
    border-color: #e9b02f;
    border-width: 3px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/headshot-square.jpeg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* ---------Hero Container */
#hero-container{
    background: url('../images/pattern-bg.jpg') no-repeat center center;
    background-attachment: fixed;
    height: 60vh;
    min-width: 300px;
}

/* ---------Typing */
/* This code is adapted from here: https://css-tricks.com/snippets/css/typewriter-effect/
This section of code has been credited in the README.md also.  */
.typewriter h2 {
    text-transform: none;
    overflow: hidden; 
    border-right: .15em solid #419092;
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .15em;
    font-size: 3vw;
    animation: 
      typing 3.5s steps(50, end),
      blink-caret .75s step-end infinite;
    color:#419092;
}
  
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #419092; }
}
  
/* ---------Nav Bar  */
  .navbar {
    margin-bottom: -150px;
    width: 100%;
    border: 0;
    padding: 0px 10px;
    height: 150px;
    z-index: 1;
}
@media only screen and (max-width: 600px) {
    #navbarNavDropdown {
        background-color: #000;
        border-radius: 5px;
        border: solid 1px #e9b02f;
        color:#fff;
        padding: 5px;
    }
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar-brand img{
    height: 100px;
}

.cta-nav{
    margin-left: auto;
}

/* ---------Buttons  */
.btn--blue {
    color: white;
    background-color: #419092;
}

.btn--blue:hover,
.btn--blue:active,
.btn--blue:focus,
.btn--blue:active:focus {
    background-color: #fff;
    border-color: #419092;
    color: #419092;
}

.btn--blue-line {
    background-color: #fff;
    border-color: #419092;
    color: #419092;
}

.btn--blue-line:hover,
.btn--blue-line:active,
.btn--blue-line:focus,
.btn--blue-line:active:focus {
    color: white;
    background-color: #419092;
}

/* ---------Services  */
.services-item-yellow{
    background-color: #e9b02f;}

.services-item-pink{
    background-color: #c05b6b;}

.services-item-blue{
    background-color:  #419092;}

.services-item a{
    color: #000;
    text-decoration: none;}

.services h2{
    color:#fff;
}

.services{
    background: url("../images/pattern-bg.jpg") no-repeat center center;
    background-attachment: fixed;
}

i.home-icons{
    font-size: x-large;
}

/* --------- Form  */
.contact {
    clear: left;
    background: url("../images/shapes-bg.jpg");
    background-size: cover;
    background-position: right;
}

.signup-form{
    margin: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 5px;
}

.signup-form h2{
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input{
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover{
    border-color: #e9b02f;
}

#your-message{
    background: transparent;
    color: #fafafa;
    width: 100%;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

#your-message:hover{
    border-color: #e9b02f;
}

/* ---------Quotes  */
.blockquote{
    font-size:small;
}

.quotes-container{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}

/* --------- Logo Portfolio */
/* This code was adapted from this post: https://medium.com/swlh/3-easy-css-only-masonry-layouts-acfb64364ad6
This section of code has been credited in the README.md also.*/
#photos-section{
    background: #000;
}

#photos-section h2{
    color: #fff;
} 

#photos {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-auto-flow: dense;
}
  
#photos div {
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    padding-top: 100%;
}
  
#photos div:nth-child(4n) {
    grid-column: span 2;
    grid-row: span 2;
}

#photos div:nth-child(16n) {
    grid-column: span 1;
    grid-row: span 1;
}

#photos div:nth-child(20n) {
    grid-column: span 1;
    grid-row: span 1;
}

/* --------- Web Portfolio */
#web-portfolio h2{
    color: #000;
} 

/* --------- Services */
.service-info{
    border-radius: 5px;
    border: solid 3px #e9b02f;
    height: 35vh;
}

.service-info a {
    text-decoration: none;
}

.service-info a i:hover{
    color:black;
}